# NOTE: This file is automatically synchronized from Patina DevOps. Update the original file there
#       instead of the file in this repo.
#
# - Patina DevOps Repo: https://github.com/OpenDevicePartnership/patina-devops
# - File Sync Settings: https://github.com/OpenDevicePartnership/patina-devops/blob/main/.sync/Files.yml

[config]
default_to_workspace = false

[env]

AARCH64_STD_WINDOWS_TARGET = "--target aarch64-pc-windows-msvc"
X86_64_STD_WINDOWS_TARGET = "--target x86_64-pc-windows-msvc"
AARCH64_STD_LINUX_TARGET = "--target aarch64-unknown-linux-gnu"
X86_64_STD_LINUX_TARGET = "--target x86_64-unknown-linux-gnu"
AARCH64_UEFI_TARGET = "--target aarch64-unknown-uefi"
X86_64_UEFI_TARGET = "--target x86_64-unknown-uefi"

NO_STD_FLAGS = "-Zbuild-std=core,compiler_builtins,alloc -Zbuild-std-features=compiler-builtins-mem -Zunstable-options"
DXE_READINESS_PKG = "-p dxe_readiness_capture"
CAPTURE_BIN_FLAGS = "${NO_STD_FLAGS} ${DXE_READINESS_PKG}"
CAPTURE_UEFI_SHELL_FLAGS = "${DXE_READINESS_PKG} --features uefishell --bin uefishell_dxe_readiness_capture"

# DXE Readiness Capture UEFI binaries to run from UEFI Shell.
[tasks.build-x64-uefishell]
description = "Builds the DXE Readiness Capture UEFI binary to run in UEFI Shell."
env = { RUSTFLAGS = "-C force-unwind-tables -C link-arg=/base:0x0 -C link-arg=/subsystem:efi_application -C link-arg=/PDBALTPATH:uefishell_dxe_readiness_capture.pdb" }
command = "cargo"
args = [ "build", "@@split(CAPTURE_UEFI_SHELL_FLAGS, )", "@@split(X86_64_UEFI_TARGET, )", "${@}", ]

[tasks.build-aarch64-uefishell]
description = "Builds the DXE Readiness Capture UEFI binary to run in UEFI Shell."
env = { RUSTFLAGS = "-C force-unwind-tables -C link-arg=/base:0x0 -C link-arg=/subsystem:efi_application -C link-arg=/PDBALTPATH:uefishell_dxe_readiness_capture.pdb" }
command = "cargo"
args = [ "build", "@@split(CAPTURE_UEFI_SHELL_FLAGS, )", "@@split(AARCH64_UEFI_TARGET, )", "${@}", ]

# Right now, both Intel Lunar Lake and Panther Lake can use the same binary.
# They are available as separate commands, so they can implement different behavior
# in the future if needed without impacting callers.
[tasks.build-intel-common]
description = "Builds the Intel DXE Readiness Capture UEFI binary."
private = true
env = { RUSTFLAGS = "-C force-unwind-tables -C link-arg=/base:0x0 -C link-arg=/subsystem:efi_boot_service_driver -C link-arg=/PDBALTPATH:intel_dxe_readiness_capture.pdb" }
command = "cargo"
args = ["build", "@@split(CAPTURE_BIN_FLAGS, )", "@@split(X86_64_UEFI_TARGET, )", "--bin", "intel_dxe_readiness_capture", "${@}"]

# Builds EFI binaries for virtual platform (QEMU).
[tasks.build-x64-uefi]
description = "Builds the x64 DXE Readiness Capture UEFI binary."
env = { RUSTFLAGS = "-C force-unwind-tables -C link-arg=/base:0x0 -C link-arg=/subsystem:efi_boot_service_driver -C link-arg=/PDBALTPATH:qemu_dxe_readiness_capture.pdb" }
command = "cargo"
args = ["build", "@@split(CAPTURE_BIN_FLAGS, )", "@@split(X86_64_UEFI_TARGET, )", "--bin", "qemu_dxe_readiness_capture", "${@}"]

[tasks.build-aarch64-uefi]
description = "Builds the aarch64 DXE Readiness Capture UEFI binary."
env = { RUSTFLAGS = "-C force-unwind-tables -C link-arg=/base:0x0 -C link-arg=/subsystem:efi_boot_service_driver -C link-arg=/PDBALTPATH:qemu_dxe_readiness_capture.pdb" }
command = "cargo"
args = ["build", "@@split(CAPTURE_BIN_FLAGS, )", "@@split(AARCH64_UEFI_TARGET, )", "--bin", "qemu_dxe_readiness_capture", "${@}"]

# Builds Validation binary for the host platform.
[tasks.build-validation-binary-windows-x64]
description = "Builds the Windows x64 DXE Readiness Validation binary."
env = { RUSTFLAGS = "" } # Env variables are not cleaned up after execution, meaning that tasks following the executed task will inherit the variables set by the previous task.
condition = { platforms = ["windows"]}
command = "cargo"
args = [ "build", "-p", "dxe_readiness_validator", "@@split(X86_64_STD_WINDOWS_TARGET, )", "${@}", ]

[tasks.build-validation-binary-windows-aarch64]
description = "Builds the Windows aarch64 DXE Readiness Validation binary."
env = { RUSTFLAGS = "" } # Env variables are not cleaned up after execution, meaning that tasks following the executed task will inherit the variables set by the previous task.
condition = { platforms = ["windows"]}
command = "cargo"
args = [ "build", "-p", "dxe_readiness_validator", "@@split(AARCH64_STD_WINDOWS_TARGET, )", "${@}", ]

[tasks.build-validation-binary-linux-x64]
description = "Builds the Linux x64 DXE Readiness Validation binary."
env = { RUSTFLAGS = "" } # Env variables are not cleaned up after execution, meaning that tasks following the executed task will inherit the variables set by the previous task.
condition = { platforms = ["linux"], env = { CARGO_MAKE_RUST_TARGET_ARCH = "x86_64" }}
command = "cargo"
args = [ "build", "-p", "dxe_readiness_validator", "@@split(X86_64_STD_LINUX_TARGET, )", "${@}", ]

[tasks.build-validation-binary-linux-aarch64]
description = "Builds the Linux aarch64 DXE Readiness Validation binary."
env = { RUSTFLAGS = "" } # Env variables are not cleaned up after execution, meaning that tasks following the executed task will inherit the variables set by the previous task.
condition = { platforms = ["linux"], env = { CARGO_MAKE_RUST_TARGET_ARCH = "aarch64" }}
command = "cargo"
args = [ "build", "-p", "dxe_readiness_validator", "@@split(AARCH64_STD_LINUX_TARGET, )", "${@}", ]

[tasks.build]
description = "Build all binaries."
clear = true
dependencies = [
    "build-x64-uefishell",
    "build-aarch64-uefishell",
    "build-intel-common", # Build Intel LNL and PTL binaries
    "build-x64-uefi",
    "build-aarch64-uefi",
    "build-validation-binary-windows-x64",
    "build-validation-binary-windows-aarch64",
    "build-validation-binary-linux-x64",
    "build-validation-binary-linux-aarch64",
]

# Run validator binary for all supported targets.
[tasks.run-validator]
description = "Run the DXE Readiness Validation binary."
command = "cargo"
args = ["run", "-p", "dxe_readiness_validator", "${@}"]

[tasks.run]
description = "Run validator binary."
clear = true
dependencies = ["run-validator"]

[tasks.llvm-cov-clean]
description = "Clean coverage data"
private = true
install_crate = false
command = "cargo"
args = ["llvm-cov", "clean", "--workspace"]

[tasks.coverage-test]
description = "Run tests and collect coverage data without generating reports."
install_crate = false
clear = true
command = "cargo"
args = ["llvm-cov", "--profile", "test", "--ignore-filename-regex", ".*test.*", "--no-report", "--doctests", "-p", "dxe_readiness_capture", "-p", "dxe_readiness_validator"]
dependencies = ["llvm-cov-clean"]

[tasks.coverage-lcov]
description = "Generate an LCOV coverage report from collected data."
install_crate = false
clear = true
command = "cargo"
args = ["llvm-cov", "report", "--lcov", "--output-path", "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/target/lcov.info"]

[tasks.coverage-html]
description = "Generate an HTML coverage report from collected data."
install_crate = false
clear = true
command = "cargo"
args = ["llvm-cov", "report", "--html", "--output-dir", "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/target/coverage"]

[tasks.coverage]
description = "Build and run all tests and calculate coverage (runs test once and generates LCOV and HTML reports)."
dependencies = ["coverage-test", "coverage-lcov", "coverage-html"]
clear = true

[tasks.clippy]
description = "Run cargo clippy."
clear = true
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

[tasks.doc]
env = { RUSTDOCFLAGS = "-D warnings" }
description = "Builds all rust documentation in the workspace. Example `cargo make doc`"
command = "cargo"
args = ["doc", "@@split(INDIVIDUAL_PACKAGE_TARGETS, )", "--open", "--no-deps"]

[tasks.fmt]
description = "Run cargo format."
clear = true
command = "cargo"
args = ["fmt", "--all"]

[tasks.cspell]
description = "Run cspell for spell checking."                                                                                                                                     # npm install -g cspell@latest
script = "cspell --quiet  --no-progress --no-summary  --dot --gitignore -e \"{.git/**,.github/**,.vscode/**,.azurepipelines/**,dxe_readiness_validator/src/tests/data/*.json}\" ."

[tasks.deny]
description = "Run cargo deny."
install_crate = false
clear = true
command = "cargo"
args = ["deny", "check"]

[tasks.all]
description = "Run all tasks for PR readiness."
dependencies = ["deny", "clippy", "cspell", "build", "coverage", "fmt", "doc"]
